
/* HEADER */
.course-gallery-main-header {
    margin-top: 50px;
    margin-bottom: 2rem;


    .course-gallery-main-header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;

        @media (max-width: 576px) {
            flex-direction: column;
            justify-content: center;
            margin-top: 50px;
        }

        .course-gallery-main-header-title {
            font: var(--font-heading1);
            margin-bottom: 0;
        }

        .aux {
            color: transparent !important;
        }

        .course-gallery-main-header-filter {
            flex: 1;
            display: flex;
            gap: .5rem;
            @media (max-width: 576px) {
                justify-content: center;   
            }

            .course-gallery-main-header-filter-search {
                flex: 1;
                min-width: 200px;
                padding: .5rem 1rem;
                border-radius: 32px;
                border: 1px solid var(--primary);
                display: flex;
                align-items: center;
                color: var(--dark);
                background-color: var(--general-white);
                @media (max-width: 768px) { 
                    min-width: auto;       
                }
                
                input {
                    border: none;
                    background: transparent;
                    font: var(--font-button1);
                    margin-left: 10px;
                    width: 100%;

                    &:focus {
                        outline: none;
                        background: transparent;
                        color: inherit;
                    }
                }
            }

            #filter-courses {
                position: relative;

                .filter-badge {
                    width: 20px;
                    height: 20px;
                    background-color: white;
                    box-shadow: 0px 0px 4px 1px #2B2B2B40;
                    color: var(--primary) !important;
                    border-radius: 100%;
                    padding: 1px;
                    font-size: .8em;
                    position: absolute;
                    top: -10px;
                    right: -3;
                    text-align: center;
                }
            }
        }
    }

    span {
        color: transparent !important;
    }
}


/* LISTAGEM DE CURSOS */
.course-area {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    gap: 2rem;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    min-height: 380px;

    @media (max-width: 992px) {
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    @media (max-width: 576px) {
        grid-template-columns: 1fr;
    }
}

.course-gallery-card{
    min-width: 250px;
    width: 100%;
    height: 380px;
    display: flex;
    flex-direction: column;
    border: 1px solid var(--light-dark);
    border-radius: 12px;
    box-shadow: 0px 0px 4px 1px #2B2B2B40;
    background-color: var(--general-white);
    &:hover {
        text-decoration: none;
    }

    .course-image-container {
        height: 170px;
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            border-top-left-radius: 12px;
            border-top-right-radius: 12px;
            object-fit: cover;
        }
    }

    .course-category {
        background: var(--success-light);
        color: var(--success-dark);
        font: var(--font-heading5);
        padding: 4px 8px 4px 8px;
        border-radius: 32px;
        width: fit-content;
        margin: 15px 0 0 15px;
    }

    .course-name {
        font: var(--font-heading2);
        margin: 15px 0 0 15px;
        color: var(--dark);
        text-decoration: none;
        width: fit-content;
        margin-bottom: 1rem;
    }

    .course-detail {
        display: flex;

        .course-workload {
            margin: 5px 0 0 15px;
            color: var(--light-dark);

            .course-workload-text {
                color: var(--dark-light);
                font: var(--font-heading6);
                margin-bottom: 10px !important;
            }

            .course-workload-value {
                background-color: var(--secondary-light);
                padding: 6.5px 16px;
                border-radius: 8px;
                color: var(--secondary-dark);
                font: var(--font-heading4);
            }
        }
    
        .course-certificate {
            margin: 5px 0 0 15px;
            color: var(--light-dark);

            .course-certificate-text {
                color: var(--dark-light);
                font: var(--font-heading6);
                margin-bottom: 10px !important;
            }

            .course-certificate-value {
                background-color: var(--secondary-light);
                padding: 8px;
                border-radius: 8px;
                
                img {
                    width: 20px;
                    height: 20px;
                    color: var(--secondary-dark);
                }
            }
        }

        .course-lang {
            margin: 5px 0 0 15px;
            color: var(--light-dark);

            .course-lang-text {
                color: var(--dark-light);
                font: var(--font-heading6);
                margin-bottom: 10px !important;
            }

            .course-lang-value {
                background-color: var(--success-light);
                padding: 8px;
                border-radius: 8px;
            }
        }
    }

    .skeleton-image {
        height: 170px;
    }
    
    .skeleton-image-placeholder {
        height: 100%;
    }
    
    .skeleton-category {
        height: 20px;
        margin: 25px 0 0 15px;
        width: 90px;
    }
    
    .skeleton-name {
        height: 20px;
        margin: 25px 0 0 15px;
        width: 300px;
    }
}

.skeleton {
    animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
    0% {
        background-color: hsl(200, 20%, 80%);
    }
    100% {
        background-color: hsl(200, 20%, 95%);
    }
}


/* PAGINAÇÃO */
.pagination {
    margin: 0 auto 50px;
    width: fit-content;
    &.disabled {
        display: none;
    }

    .pagination-button {
        background-color: transparent;
        border: none;
        &[disabled] {
            display: none;
        }
        &#prev {
            margin-right: 5px;
        }

        &#next {
            margin-left: 5px;
        }

        img {
            width: 16px;
            height: 16px;
            color: var(--primary);
            margin: 0 5px;
        }

        @media (max-width: 576px) {
            > span {
                display: none;
            }
        }
    }

    .pagination-number {
        background-color: transparent;
        border: none;
        border-radius: 8px;
        color: var(--dark);
        margin: 0 5px;
        cursor: pointer;
        transition: background-color 0.3s;
        font: var(--font-paragraph1);
        padding: 5px 10px;

        &:hover {
            background-color: #e0e0e0;
        }

        &.active {
            background-color: var(--primary);
            color: var(--general-white);
        }
    }
}


/* FILTROS */
.filter-area {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--light);
    border-radius: 16px;
    box-shadow: 0px 0px 4px 1px #2B2B2B40;
    padding: 16px 24px;
    z-index: 2000;
    width: max-content;
    height: 430px;

    .filter-header {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .filter-header-title {
            font: var(--font-heading2);
            margin: 0;
        }

        .filter-header-close-button {
            background-color: var(--light-dark);
            border-radius: 20px;
            border: none;
            cursor: pointer;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: var(--dark-light);
                color: var(--light);
            }
        }
    }

    .filter-content {
        display: flex;
        grid-template-columns: repeat(4, 200px);
        flex-wrap: wrap;
        gap: 2rem;
        margin-top: 20px;

        .filter-content-column-title {
            font: var(--font-heading3);
            margin: 0 0 10px 0;
            color: var(--dark);
        }

        #filter-content-learningpath-column {
            display: none;
        }

        .filter-content-column {
            min-width: 150px;
        }

        label {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;
        }

        input[type="checkbox"] {
            appearance: none;
            width: 20px;
            height: 20px;
            border: 2px solid black;
            border-radius: 4px;
            margin-right: 10px;
            outline: none;
            position: relative;
        }

        input[type="checkbox"]:checked {
            background-color: var(--primary);
            border: none;
        }

        input[type="checkbox"]:checked::after {
            content: '✓';
            color: white !important;
            position: absolute;
            left: 3px;
            top: -4px;
            font-size: 20px;
        }

        input[type="checkbox"]:focus {
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        }
    }

    .filter-footer {
        display: flex;
        justify-content: end;
        margin-top: 1rem;

        .filter-footer-clear-button {
            background: none;
            border: none;
            font: var(--font-button3);
            position: relative;
            padding-inline: 0px;
            &::after {
                content: '';
                height: 1px;
                width: 100%;
                background-color: var(--dark);
                position: absolute;
                bottom: 8px;
                left: 0px;
            }
        }

        .filter-footer-apply-button {
            background: var(--primary);
            color: var(--general-white);
            font: var(--font-button1);
            border: none;
            border-radius: 12px;
            padding: 8px 10px;
            cursor: pointer;
            margin-left: 1rem;
            transition: all 0.2s ease-in-out;
            &:hover {
                background-color: var(--primary-dark);
            }
        }
    }
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1999;
}

@media (max-width: 768px) {
    .filter-area {
        width: 90%;
        overflow-y: auto;
    } 
}