<div class="frontpage-hero-main-header">
    <div class="frontpage-hero-main-header-content">

        <h2 class="frontpage-hero-main-header-title">
            {{{gallery_title}}}
        </h2>

        <div class="frontpage-hero-main-header-filter">
            <div class="frontpage-hero-main-header-filter-search">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="{{#str}}search, core{{/str}}" id="search">
            </div>
            <button id="filter-courses" class="btn btn-primary btn-icon-text">
                <i class="fa-solid fa-sliders"></i>
                {{#str}}filter, theme_suap{{/str}}
                <span id="filter-badge" class="filter-badge" style="display: none;">0</span>
            </button>
        </div>
        
    </div>
</div>

<div class="modal-overlay" id="modal-overlay"></div>

<div class="filter-area" id="filter-area">
    <div class="filter-header">
        <span class="filter-header-title">{{#str}}filter, theme_suap{{/str}}</span>
        <button id="close-filter" class="filter-header-close-button">
            <img src="{{config.wwwroot}}/theme/suap/pix/close.svg" alt="Fechar">
        </button>
    </div>
    <div class="filter-content">
        <div class="filter-content-workload-column">
            <h5 class="filter-content-column-title">{{#str}}workload, theme_suap{{/str}}</h5>
            <label><input type="checkbox" value="10"> {{#str}} upto_hours, theme_suap, 10 {{/str}}</label>
            <label><input type="checkbox" value="20"> {{#str}} upto_hours, theme_suap, 20 {{/str}}</label>
            <label><input type="checkbox" value="30"> {{#str}} upto_hours, theme_suap, 30 {{/str}}</label>
            <label><input type="checkbox" value="40"> {{#str}} upto_hours, theme_suap, 40 {{/str}}</label>
            <label><input type="checkbox" value="50"> {{#str}} upto_hours, theme_suap, 50 {{/str}}</label>
            <label><input type="checkbox" value="60"> {{#str}} upto_hours, theme_suap, 60 {{/str}}</label>
            <label><input type="checkbox" value="70"> {{#str}} upto_hours, theme_suap, 70 {{/str}}</label>
            <label><input type="checkbox" value="80"> {{#str}} upto_hours, theme_suap, 80 {{/str}}</label>
        </div>
        <div class="filter-content-certificate-column">
            <h5 class="filter-content-column-title">{{#str}}certificate, theme_suap{{/str}}</h5>
            <label><input type="checkbox" value="1"> {{#str}}yes, core{{/str}}</label>
            <label><input type="checkbox" value="0"> {{#str}}no, core{{/str}}</label>
        </div>
        <div class="filter-content-lang-column">
            <h5 class="filter-content-column-title">{{#str}}language, core{{/str}}</h5>
            <label><input type="checkbox" value="pt_br"> {{#str}}pt-br, theme_suap{{/str}}</label>
            <label><input type="checkbox" value="es"> {{#str}}es, theme_suap{{/str}}</label>
            <label><input type="checkbox" value="en"> {{#str}}english, core{{/str}}</label>
        </div>
        <div class="filter-content-learningpath-column">
            <h5 class="filter-content-column-title">Trilha</h5>
            {{#learningpaths}}
                <label><input type="checkbox" value="{{id}}"> {{name}}</label>
            {{/learningpaths}}
        </div>
    </div>
    <div class="filter-footer">
        <button id="clear-filter" class="filter-footer-clear-button">{{#str}}clearfilters, core{{/str}}</button>
        <button id="apply-filter" class="filter-footer-apply-button">{{#str}}applyfilters, core{{/str}}</button>
    </div>
</div>