<div class="course-gallery-main-header">
    <div class="course-gallery-main-header-content">

        <h2 class="course-gallery-main-header-title">
            {{{gallery_title}}}
        </h2>

        <div class="course-gallery-main-header-filter">
            <div class="course-gallery-main-header-filter-search">
                <i class="fa fa-search"></i>
                <input type="text" placeholder="{{#str}}search, core{{/str}}" id="search">
            </div>
            <button id="filter-courses" class="btn btn-primary btn-icon-text">
                <i class="fa-solid fa-sliders"></i>
                {{#str}}filter, block_course_gallery{{/str}}
                <span id="filter-badge" class="filter-badge" style="display: none;">0</span>
            </button>
        </div>
        
    </div>
</div>

<div class="modal-overlay" id="modal-overlay"></div>

<div class="filter-area" id="filter-area">
    <div class="filter-header">
        <span class="filter-header-title">{{#str}}filter, block_course_gallery{{/str}}</span>
        <button id="close-filter" class="filter-header-close-button" alt="{{#str}}closebuttontitle, core{{/str}}">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </div>
    <div class="filter-content">

        <div id="filter-content-workload-column" class="filter-content-column">
            <h5 class="filter-content-column-title">
                <span>{{#str}}workload, theme_suap{{/str}}</span>
                <span id="workload-range-total"></span>
            </h5>
            <div id="workload-slider"></div>
            <p class="workload-range-label">
                Horário selecionado: <span id="workload-range-display">20h – 60h</span>
            </p>
        </div>

        <div id="filter-content-certificate-column" class="filter-content-column">
            <h5 class="filter-content-column-title">{{#str}}certificate, theme_suap{{/str}}</h5>
            <label><input type="checkbox" value="1"> {{#str}}yes, core{{/str}}</label>
            <label><input type="checkbox" value="0"> {{#str}}no, core{{/str}}</label>
        </div>
        <div id="filter-content-lang-column" class="filter-content-column">
            <h5 class="filter-content-column-title">{{#str}}language, core{{/str}}</h5>
            <label><input type="checkbox" value="pt_br"> {{#str}}pt-br, theme_suap{{/str}}</label>
            <label><input type="checkbox" value="es"> {{#str}}es, theme_suap{{/str}}</label>
            <label><input type="checkbox" value="en"> {{#str}}english, core{{/str}}</label>
        </div>
        <div id="filter-content-learningpath-column" class="filter-content-column">
            <h5 class="filter-content-column-title">Trilha</h5>
            {{#learningpaths}}
                <label><input type="checkbox" value="{{id}}"> {{name}}</label>
            {{/learningpaths}}
        </div>
    </div>
    <div class="filter-footer">
        <button id="clear-filter" class="filter-footer-clear-button">{{#str}}clearfilters, core{{/str}}</button>
        <button id="apply-filter" class="filter-footer-apply-button">{{#str}}applyfilters, core{{/str}}</button>
    </div>
</div>


<!-- noUiSlider CSS -->
<link href="https://cdn.jsdelivr.net/npm/nouislider@15.7.1/dist/nouislider.min.css" rel="stylesheet">

<!-- noUiSlider JS -->
<script src="https://cdn.jsdelivr.net/npm/nouislider@15.7.1/dist/nouislider.min.js"></script>


<script>
    const slider = document.getElementById('workload-slider');
    const rangeDisplay = document.getElementById('workload-range-display');
    const rangeTotal = document.getElementById('workload-range-total');

    noUiSlider.create(slider, {
        start: [10, 100],
        connect: true,
        range: {
            'min': 10,
            'max': 100
        },
        step: 10,
        format: {
            to: function (value) {
                return Math.round(value);
            },
            from: function (value) {
                return Number(value);
            }
        }
    });

    const minPossible = slider.noUiSlider.options.range.min;
    const maxPossible = slider.noUiSlider.options.range.max;

    rangeTotal.innerText = `${minPossible} - ${maxPossible}`;

    slider.noUiSlider.on('update', function(values) {
        rangeDisplay.textContent = `${values[0]}h – ${values[1]}h`;
    });

</script>