<div class="pagination">
    <button id="prev-page" class="pagination-button" page="0">
        <img src="{{config.wwwroot}}/theme/suap/pix/arrow-back-outline.svg" alt="Anterior">
        <span>{{#str}} prev, core {{/str}}</span>
    </button>
    {{! <span id="page-info"></span> }}
    <span id="pagination-numbers"></span>
    <button id="next-page" class="pagination-button" page="0">
        <span>{{#str}} next, core {{/str}}</span>
        <img src="{{config.wwwroot}}/theme/suap/pix/arrow-forward-outline.svg" alt="Próximo">
    </button>
</div>
