<div class="pagination">
    <button id="prev-page" class="pagination-button" page="0">
        <img class="pagination-img" src="{{config.wwwroot}}/blocks/course_gallery/pix/arrow-back-outline.svg">
        <span>{{#str}} prev, core {{/str}}</span>
    </button>
    {{! <span id="page-info"></span> }}
    <span id="pagination-numbers"></span>
    <button id="next-page" class="pagination-button" page="0">
        <span>{{#str}} next, core {{/str}}</span>
        <img class="pagination-img" src="{{config.wwwroot}}/blocks/course_gallery/pix/arrow-forward-outline.svg">
    </button>
</div>
